@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --system-ui:
    /*system-ui, "Segoe UI",*/
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1.5;
}

body {
  font-family: var(--system-ui);
}

.container {
  box-sizing: border-box;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
  gap: 0px;
}

.sidebar {
  color: #ffffff;
  background-color: #1992d4;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 80px 1fr 1fr;
}

.sidebarHeader {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  justify-content: stretch;
  padding-left: 15px;
  gap: 0px 5px;
}

.sidebarHeaderIcon {
  width: 48px;
  fill: #ffffff;
  grid-column: 1 / 2;
}

.sidebarHeaderText {
  grid-column: 2 / 3;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px;
}

.sidebarMenu {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  align-self: start;
  padding-left: 15px;
}

.sidebarMenu ul {
  margin: 0px;
  padding: 10px 0px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.sidebarSettings {
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 1fr;
  align-self: end; /* I think aligning them at the bottom makes more sense */
  padding-left: 15px;
}

.sidebarSettings ul {
  margin: 0px;
  padding: 10px 0px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.sidebarMenuItem,
.sidebarSettingsItem {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  cursor: pointer;
}

.sidebarMenuItemIcon,
.sidebarSettingsItemIcon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 2;
  justify-self: center;
}

.sidebarMenuItemText,
.sidebarSettingsItemText {
  font-weight: bold;
  font-size: 1rem;
  justify-self: start;
  margin: 10px 0px;
  text-align: left;
}

.header {
  background-color: #ffffff;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 15px 30px 0px 30px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 2fr;
  gap: 0px 5px;
}

.headerTop {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 5px;
}

.headerTopLeft {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 40px 1fr;
  justify-items: stretch;
}

.headerTopLeftIcon {
  grid-column: 1 / 2;
  width: 24px;
  height: 24px;
  align-self: center;
  justify-self: center;
}

.headerTopLeftSearch {
  grid-column: 2 / 3;
  align-self: stretch;
  justify-self: stretch;
  display: flex;
}

.inputSearch {
  background-color: #e2e8f0;
  border-radius: 25px;
  border-width: 0px;
  outline: none;
  box-sizing: border-box;
  flex: 1;
  padding-left: 15px;
  height: 32px;
  align-self: center;
}

.headerTopRight {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  align-self: center;
  justify-items: start;
}

.notificationIcon {
  grid-column: 1 / 2;
  width: 24px;
  height: 24px;
  align-self: center;
  justify-self: end;
}

.headerTopRightAvatar {
  grid-column: 2 / 3;
  width: 48px;
  height: 48px;
  align-self: center;
  justify-self: end;
}

.headerTopRightUsername {
  grid-column: 3 / 4;
  margin: 0px 10px;
  font-size: 1.5rem;
  font-weight: bold;
  align-self: center;
  justify-self: start;
}

.headerBottom {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 5px;
}

.headerBottomLeft {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 70px 4fr;
  gap: 5px;
}

.headerBottomLeftAvatar {
  grid-column: 1 / 2;
  width: 60px;
  height: 60px;
  align-self: center;
  justify-self: start;
}

.headerBottomLeftUsername {
  grid-column: 2 / 3;
  align-self: center;
  justify-self: start;
}

.UsernameBold {
  font-size: 1.5rem;
  font-weight: bolder;
}

.headerBottomRight {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.headerBottomButton {
  border-radius: 18px;
  align-self: center;
  justify-self: center;
  background-color: #1992d4;
  border-width: 0px;
  height: 36px;
  width: 100px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
}

.main {
  background-color: #e2e8f0;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 15px;
  box-shadow: inset 0px 10px 20px -10px #999a9b;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.mainLeft {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.mainHeader {
  margin: 20px 0px 10px 0px;
  font-size: 1.2rem;
  font-weight: bold;
}

.mainLeftContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 15px;
  margin: 0px;
}

.cardProject {
  background-color: #ffffff;
  border-radius: 8px;
  width: 100%;
  display: grid;
  grid-template-columns: 8px 1fr;
  grid-template-rows: 25px 90px 35px;
  box-shadow: 0px 5px 5px 0px #999a9b;
}

.verticalLine {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  background-color: #f0b429;
  justify-content: stretch;
  width: 8px;
  height: 150px;
  border-radius: 8px 0px 0px 8px;
}

.carProjectHeader {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 0px 10px;
  font-size: 1.2rem;
  font-weight: bold;
  align-self: start;
}

.carProjectDescription {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 90px;
  color: #999a9b;
  margin: 0px 10px;
  align-self: start;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: -1px;
}

.projectButtons {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  margin: 0px 15px 0px 0px;
}

.projectButtonIcon {
  width: 24px;
  height: 24px;
  margin-right: 15px;
  cursor: pointer;
}

.mainTopRight {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.mainTopRightContainer {
  background-color: #ffffff;
  border-radius: 8px;
  flex: 1;
  margin: 0px;
  box-shadow: 0px 5px 5px 0px #999a9b;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.announcement {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.announcementHeader {
  margin: 0px;
  font-size: 0.8em;
  font-weight: bold;
}

.announcementDescription {
  margin: 0px;
  color: #999a9b;
  font-size: 0.9em;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-inline: hidden;
  letter-spacing: -1px;
  flex-grow: 1;
  height: 25px;
}

.announcementSeparator {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 5px 0px;
  padding: 0px;
}

.mainBottomRight {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.mainBottomRightContainer {
  background-color: #ffffff;
  border-radius: 8px;
  flex: 1;
  margin: 0px;
  box-shadow: 0px 5px 5px 0px #999a9b;
  display: flex;
  flex-direction: column;
}

.trending {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-items: stretch;
  margin: 5px;
}

.trendingAvatar {
  margin: 5px;
  height: 30px;
  width: 30px;
  align-self: center;
  justify-self: center;
}

.trendingUser {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

.trendingUserEmail {
  margin: 0px;
  padding: 0px;
  font-size: 0.8rem;
  font-weight: bold;
}

.trendingUserName {
  margin: 0px;
  padding: 0px;
  font-size: 0.8rem;
  color: #999a9b;
}
